<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:建立 Mapper 接口文件和 XML 文件 的映射关系 -->
<mapper namespace="com.light.mapper.DaoXMLMapper">

    <!-- 将 SQL 的字段映射到对象中，特别是带下划线的那种 -->
    <resultMap type="com.light.mapper.UserInfoModel" id="resultMap">
        <result column="age" property="age"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="phone_num" property="phoneNum"/>
    </resultMap>

    <!-- 提前准备好的SQL，直接引用即可 -->
    <sql id="selectAll">
        SELECT age,name,sex,phone_num FROM user_info
    </sql>

    <!-- 使用提前准备好的SQL -->
    <select id="getUserInfo" resultType="com.light.mapper.UserInfoModel">
        <include refid="selectAll"/>
        <where>
            <if test = "name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>
</mapper>

