<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.light.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.light.model.UserInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="extendField" column="extend_field" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="BaseSelect">
        SELECT id,
        name,
        type,
        status,
        phone,
        email,
        extend_field,
        create_time,
        update_time
        FROM user_info
    </sql>

    <!--
    # 和 $ 的区别：
    1、# 方式能够很大程度防止sql注入，# 将传入的数据都当成一个字符串，会对自动传入的数据加一个双引号。
    2、$ 方式无法防止Sql注入，但是在将表名当做参数传递时，需要用到，他会将变量直接替换，不会加引号。
    -->
    <update id="createShardingTable">
        CREATE TABLE IF NOT EXISTS sharding_user_${date}
        (
        LIKE sharding_user
        )
    </update>

    <!-- 注意：如果字段不是String类型，则不能使用 ！= ''，会报错   -->
    <select id="listUserInfo" resultMap="BaseResultMap">
        <include refid="BaseSelect"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and `name` = #{name}</if>
            <if test="type != null">and `type` = #{type}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="phone != null">and phone = #{phone}</if>
            <if test="email != null">and email = #{email}</if>
            <if test="startTime != null and startTime != ''">and create_time &gt;=
                STR_TO_DATE(#{startTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">and create_time &lt;
                DATE_ADD(STR_TO_DATE(#{endTime},'%Y-%m-%d'), INTERVAL 1 DAY)
            </if>
        </where>
    </select>

    <!-- 批量更新：比如，不同的文章点赞数量可能不同，需要每条数据更新不同的数据 -->
    <update id="batchUpdateName" parameterType="java.util.List">
        UPDATE user_info
        SET name = CASE id
        <foreach collection="list" item="user">
            WHEN #{user.id} THEN #{user.name}
        </foreach>
        END
        WHERE id IN
        <foreach collection="list" item="user" index="index" separator="," open="(" close=")">
            #{user.id}
        </foreach>
    </update>

    <select id="getUserInfoTwo" resultMap="BaseResultMap">
        <include refid="BaseSelect"/>
        WHERE sex = #{sex} limit 1;
    </select>

    <select id="getUserInfoThree" resultMap="BaseResultMap">
        <include refid="BaseSelect"/>
        WHERE sex = #{user.sex} limit 1;
    </select>

    <select id="getUserInfoFour" resultMap="BaseResultMap">
        <include refid="BaseSelect"/>
        WHERE id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getUserInfoFive" resultMap="BaseResultMap">
        <include refid="BaseSelect"/>
        WHERE id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getUserInfoSix" resultMap="BaseResultMap">
        <include refid="BaseSelect"/>
        WHERE sex = #{userInfoModel.sex}
        and age = #{age};
    </select>
</mapper>

